@{
    ViewBag.Title = "Giới thiệu";
}
<h2>@ViewBag.Title.</h2>
<h3>Phần mềm bán lẻ kiểm soát trực tuyến</h3>

<p>Với nhu cầu phát triển hệ thống cửa hàng bán lẻ tiện ích rầm rộ như hiện nay. Việc kiểm soát cửa hàng trong khi người Chủ không có mặt tại cửa hàng là nhu cầu rất cần thiết. UGSoft đã đưa ra giải pháp ứng dụng phần mềm bán lẻ nhưng có khả năng kiểm soát cửa hàng online:.</p>
<p>
    Tại điểm bán hàng sử dụng phần mềm bán hàng 7i offline : xử lý việc lên đơn đặt hàng, nhập hàng, xuất hàng theo kênh buôn và xuất hàng theo kênh bán lẻ trực tiếp, sắp xếp lau dọn hàng hóa, báo cáo hàng xuất, nhập theo ngày, tuần, tháng, năm.
</p>
<p>
    Trung tâm điều hành: Sau khi thuê dịch vụ lưu trữ dữ liệu (50.000đ/tháng) Chủ cửa hàng có thể đăng nhập vào trung tâm điều hành để xem các dữ liệu cửa hàng đang hoạt động như đơn hàng, chi tiết đơn hàng; các quá trình nhập hàng, thanh toán tiền hàng, công nợ và tiền mặt tồn cuối ngày, dòng tiền trong ngày...
</p>
