@{
    ViewBag.Title = "AccessDenied";
}
<h2>@ViewBag.Title.</h2>
<p>Bạn không có quyền vào chức năng: "@ViewBag.Message". Nếu có nhu cầu liên hệ quản trị viên!</p>
<h3>@Html.ActionLink("Back to home", "Index", "Home")</h3>