@{
    ViewBag.Title = "Trang chủ";
}

<div class="jumbotron">
    <h1>Sample</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nền tảng SSD</h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="#">Chi tiết &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nền tảng SSO</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">Chi tiết &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nền tảng Mobile</h2>
        <p> </p>
        <p><a class="btn btn-default" href="#">Chi tiết &raquo;</a></p>
    </div>
</div>