body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 308px;
}

body {
  background: #eee !important;
}

.wrapper {
  margin-top: 60px;
  margin-bottom: 10px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius:6px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 20px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.forget-password{
    margin-top:20px;
}
.btn-primary
{
    background-color: #0b76ba!important;
    border-color: #0b76ba !important;
}

.navbar-inverse {
    background-color: #0b76ba!important;
    border-color: #b6ff00 !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #b6ff00 !important;
}
.navbar-inverse .navbar-brand {
    color: #fff !important;
}