@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>UG-Soft</h3>

<address>
    Nhà 15 ngõ 358/25/60 Bùi Xương Trạch<br />
    Khương Đình-Thanh Xuân - Hà Nội<br />
    <abbr title="Phone">P:</abbr>
    0919 579 666
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@ugroup.vn">info@ugroup.vn</a><br />
    <strong>Marketing:</strong> <a href="mailto:khoainv@ugroup.vn">khoainv@ugroup.vn</a>
</address>